<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's play</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-content">
                <a href="#main" class="navbar-brand">
                    <img src="/src/assets/images/common/logo.svg" alt="">
                </a>
                <button class="navbar-toggler" toggle="#NavToggle">
                    <img class="navbar-toggler-icon" src="/src/assets/images/navbar/mobile/burger.svg" alt="">
                    <span class="navbar-toggler-text">Меню</span>
                </button>
                <div class="toggle navbar-toggle delay-200" id="NavToggle">
                    <ul class="list nav-list">
                        <li class="nav-list-item"><a href="#main" class="link nav-list-link">Главная</a></li>
                        <li class="nav-list-item dropdown">
                            <a class="link nav-list-link ">
                                Направления 
                            </a>
                            <span class="dropdown-icon background-image delay-200"></span>
                            <ul class="list dropdown-list">
                                <li class="dropdown-item delay-200"><a href="" class="link dropdown-link">Гитара</a></li>
                                <li class="dropdown-item delay-200"><a href="" class="link dropdown-link">Вокал</a></li>
                                <li class="dropdown-item delay-200"><a href="" class="link dropdown-link">Фортепиано</a></li>
                                <li class="dropdown-item delay-200"><a href="" class="link dropdown-link">Укулеле</a></li>
                            </ul>
                        </li>
                        <li class="nav-list-item"><a href="" class="link nav-list-link">Методика</a></li>
                        <li class="nav-list-item"><a href="" class="link nav-list-link">Почему мы</a></li>
                        <li class="nav-list-item"><a href="" class="link nav-list-link">Отзывы</a></li>
                        <li class="nav-list-item"><a href="" class="link nav-list-link">Контакты</a></li>
                        <li class="nav-list-item">
                            <div class="nav-call">
                               <div class="nav-call-contacts">
                                    <span>8 (909) 307-69-42</span>
                                    <a class="link">Перезвонить вам?</a>
                               </div>
                               <button class="nav-call-btn">
                                    Перезвонить
                               </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>  
    <div class="section-main section">
        <div class="section-content">
            <div class="background-image float circle-line"></div>
            <div class="background-image float curve"></div>
            <div class="background-image float lines"></div>
            <div class="background-image float loop-line"></div>
            <div class="background-image float sheet-8"></div>
            <div class="background-image float sheet-4"></div>
            <div class="background-image float underline-top"></div>
            <div class="background-image float underline-bottom"></div>
            <div class="block float">
                <p class="f-s-20">Гитара</p>
                <p class="f-s-20">Вокал</p>
                <p class="f-s-20">Укулеле</p>
                <p class="f-s-20">Пианино</p>
            </div>
            <div class="part-instrumental-info">
                <div class="block bg-yellow-100 float block-instrumentals">
                </div>
                <div class="background-image girl-guitar"></div>
            </div>
            <div class="part-tagline">
                <h1 class="f-s-90 f-s-48-sm title">
                    2 песни
                    <br>
                    за 4 урока
                </h1>
                <p class="f-s-20 f-s-16-sm comment">
                    Предоставим инструмент на занятии и научим наслаждаться музыкой, даже если у Вас никогда не было опыта
                </p>
                <div class="help-buttons">
                    <a href="#main">
                        <button class="[ f-s-18 f-s-15-sm delay-200 bg-black-200 bg-hover-yellow-100 bg-active-black-200 active-white-100 white-100 hover-white-100 ] read-more-btn">
                            Узнать подробнее
                        </button>
                    </a>
                    <a href="#main">
                        <button class="[ f-s-18 f-s-15-sm delay-200 bg-white-100 bg-hover-yellow-100 bg-active-black-200 active-white-100 black-100 border-hover-yellow-100 border-active-black-200 ] choose-dir-btn">
                            Выбрать направление
                        </button>
                    </a>
                </div>
            </div>
            <div class="part-dir-info">
                <div class="block bg-yellow-100 float block-service">
                    <p class="f-s-20">
                        Индивидуальные и  
                        групповые <br>
                        занятия
                    </p>
                    
                    <p class="f-s-20">Группа до 3-х человек</p>
                    <p class="f-s-20">От 5 лет</p>   
                </div>
                <div class="background-image boy-guitar"></div>
            </div>
            
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <div class="social-map">
                <div class="social-brand">
                    <h2>Let's play</h2>
                </div>
                <div class="social-links">
                    <a href="" class="link social-link background-image"></a>
                    <a href="" class="link social-link background-image"></a>
                    <a href="" class="link social-link background-image"></a>     
                </div>
            </div>
            <div class="list-warpper website-map">
                <h4 class="list-title">Карта сайта</h4>
                <ul class="list footer-list">
                    <li class="footer-list-item"><a href="" class="link">Главная</a></li>
                    <li class="footer-list-item"><a href="" class="link">Направления</a></li>
                    <li class="footer-list-item"><a href="" class="link">Преподаватели</a></li>
                    <li class="footer-list-item"><a href="" class="link">Методика</a></li>
                    <li class="footer-list-item"><a href="" class="link">Отзывы</a></li>
                </ul>
            </div>
            <div class="list-warpper contact-map">
                <h4 class="list-title">Контакты</h4>
                <ul class="list footer-list">
                    <li class="footer-list-item">8 (909) 307-69-42</li>
                    <li class="footer-list-item">8 (995) 509-69-42</li>
                    <li class="footer-list-item">
                        Большая Красная улица, 8, 
                        Вахитовский район, Казань,
                        Республика Татарстан</li>
                    <li class="footer-list-item">
                        Letsplaykazan@mail.ru
                    </li>
                </ul>
            </div>
            <div class="social-links">
                <a href="" class="link social-link background-image"></a>
                <a href="" class="link social-link background-image"></a>
                <a href="" class="link social-link background-image"></a>     
            </div>
        </div>
    </footer>
</body>
</html>